.back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;

    &:hover {
        font-weight: 500;
    }
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    legend {
        font: var(--h2);
        margin-bottom: 1rem;
        color: var(--text-primary);
    }
}

.input-wrapper, .select-wrapper, .textarea-wrapper {
    display: flex;
    flex-direction: column;
}

button[type="submit"] {
    background-color: #101828;
    font: var(--h2);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    &:hover {
        background-color: #06004d;
        box-shadow: 0 5px 10px #1018282a;
    }
}